/SerialDebug/bin/Debug/serial_debug_sendlist.sdlist
/SerialDebug/bin/Debug/SerialDebug.exe.config
/SerialDebug/bin/Debug/SerialDebug.pdb
/SerialDebug/bin/Debug/SerialDebug.vshost.exe
/SerialDebug/bin/Debug/SerialDebug.vshost.exe.config
/SerialDebug/bin/Debug/SerialDebug.vshost.exe.manifest
/SerialDebug/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SerialDebug/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SerialDebug/obj/Debug/SerialDebug.AboutBox.resources
/SerialDebug/obj/Debug/SerialDebug.csproj.FileListAbsolute.txt
/SerialDebug/obj/Debug/SerialDebug.csproj.GenerateResource.Cache
/SerialDebug/obj/Debug/SerialDebug.csprojResolveAssemblyReference.cache
/SerialDebug/obj/Debug/SerialDebug.exe
/SerialDebug/obj/Debug/SerialDebug.FormFileSend.resources
/SerialDebug/obj/Debug/SerialDebug.FormNormalSend.resources
/SerialDebug/obj/Debug/SerialDebug.FormQueueSend.resources
/SerialDebug/obj/Debug/SerialDebug.frmDataCheck.resources
/SerialDebug/obj/Debug/SerialDebug.frmMain.resources
/SerialDebug/obj/Debug/SerialDebug.frmQueueSetting.resources
/SerialDebug/obj/Debug/SerialDebug.pdb
/SerialDebug/obj/Debug/SerialDebug.Properties.Resources.resources
/SerialDebug/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/SerialDebug/SerialDebug.csproj.user
/SerialDebug.suo
