<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialDebug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SerialDebug.Properties.Settings>
            <setting name="comPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="comBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="comParityBit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="comDataBits" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="comStopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comFlowCtrl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comRTS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="comDTR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dispReceive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispSend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dispHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dispTimeStamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispReceiveTimeOut" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="normalHexSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="normalHexFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="normalSendClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="normalLoopSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="normalLoopCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="normalPacketBytes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="normalInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="normalContent" serializeAs="String">
                <value />
            </setting>
            <setting name="queueHexSend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="queueSendMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="queueDelayTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="queueContent" serializeAs="String">
                <value />
            </setting>
            <setting name="queueList" serializeAs="String">
                <value />
            </setting>
            <setting name="fileTransMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fileShowStream" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="fileSendByLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fileSendCRLF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fileSendDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fileSendByPacket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filePacketLen" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sendModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="receiveFont" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value />
            </setting>
        </SerialDebug.Properties.Settings>
    </userSettings>
</configuration>